* {
}

body {
	font-family: 'Open Sans';
}

.start-container {
 	position: relative;
 	height: 100vh;
}

.start-btn {
	background-color: #00B16A;
	border-radius: 4px;
	text-align: center;
	height: 20vh;
	width: 25vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start-btn span {
	color: white;
	font-size: 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start-btn:hover {
	background-color: #19b878;
}

.task-container {
	text-align: center;
	height: 100vh;
	width: 100%;
}

.instructions {
	padding-bottom: 1em;
	font-size: 2em;
	color: #7f8c8d;
}

.task-button {
	background-color: #3e8cc0;
	color: white !important;
	height: 3em;
	font-size: 2em;
	font-weight: normal;
}

.task-button:hover {
	background-color: #2980b9;
	color: white !important;
}

.now-label {
	font-size: 2em;
}

.after-label {
	font-size: 2em;
	color: #e74c3c;
}

.results-container {
	text-align: center;
	height: 100vh;
	width: 100%;

}

.u-vert-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}